<h1>Is there a bus nearby ?</h1>

<p>Please give us your address or approximate location so wec an tell you if there's a bus nearby</p>
<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
