<%= notice %>
<h1>Is there a bus nearby ?</h1>

<p>Please give us your address or approximate location and we will find the nearest bus for you </p>
<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
